body{
	background-color: beige;
	color: white;

}

.container{
	background-color: lightblue;
	box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);

}

img{
	width: 300px;
}